*{
  /* color: #0F2628; */
  color: #5A5B5B;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#jumbo{
  background-color: #E6E6E7;
  /* background-image: url('./mc.png');
  background-size: cover; */
  border-radius: 0px;
}

.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float:none;
}

#theNav{
  background-color: #D3D3D6;
}

#theButton{
  background-color: #A3A9AA;
  border: none;
  border-radius: 0px;
}

.acaBackG{
  margin-top: -35px;
  padding-top: 9px;
  background-color: #D3D3D6;
  width: 100%;
}

/* .acaCards{
  background-color: #A3A9AA;
} */

/* lower #A3A9AA */
/* light #BBBBBF */


/* slightly darker D3D3D6 */
/* lighter E6E6E7 */

