*{
  color: #5A5B5B;
  font-family: 'Lato', sans-serif;
}

.aleFont{
  font-family: 'Alegreya Sans SC', sans-serif;
}

.latoFont{
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float:none;
}

#theNav{
  background-color: #E6E6E7;
}

#jumbo{
  background-color: #EFEFF0; 
  border-radius: 0px;
}

#theButton{
  background-color: #A3A9AA;
  border: none;
  border-radius: 0px;
}

.skills{
  background-color: #E6E6E7;
  /* margin-bottom: 35px; */
  margin-top: -32px;
  margin-bottom: 30px;
  padding-top: 9px;
}

.acaBackGround{
  margin-top: -35px;
  padding-top: 9px;
  background-color: #EFEFF0; 
  width: 100%;
}

.contactStyle{
  margin-top: 25px;
}

.darkFont{
  color: #5A5B5B;
}

/* lower #A3A9AA */
/* light #BBBBBF */


/* slightly darker D3D3D6 */
/* lighter E6E6E7 */

